* {
    /* Should probably add something here */ 
    box-sizing:border-box;
    list-style-type: none;
    flex-wrap: wrap;
}

header {
  font-size: 125%;
}

p {
   /* display:block; */
}

footer {
    text-align: center;
    font-size: 125%;
}

/* main header flexbox */
.main-header-container {
    position: relative;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    list-style-type: none;
    border: darkblue 2px solid;
    width: 100%;
  }

/* flex box for nav menu */
.main-header-container nav {
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    
}

/* makes nav links in a row. */
.main-header-container nav li {
    display: inline-block;

}

/* flexbox container for body -> main */
.main-container {
    display: flex;
}

.main-container section{
    display: flex;
    flex-direction: column;
}

.main-container h1  {
    text-align: center;
}

.main-container h1 p {
    text-align: center;
}

.main-container article div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 42%;
}

.main-container .horizontal-bottom-box {
    text-align: center;
}

#Profile-Photo {
    flex-wrap:wrap;
    
    justify-content: left;
    max-width: 30%;
    max-height: 30%;
    border-radius: 5%;
}

@media screen and (max-width:2560px) and (min-width:769px) {
    * {
        background-color: salmon;
        color: darkblue
    }
}

@media screen and (max-width:768px) {
   * {
        background-color: grey;
        color: black;
    }
}

@media screen and (max-width:320px) {
    * {
        background-color: black;
        color:white;
    }
    Body {
        flex-wrap: wrap;
        justify-content: center;
    }

    #Profile-Photo {
        min-height: 400px;
        min-width: 300px;
    }
}   