* {
     /* background-color: salmon;
    color: darkblue; */
}

p {
    display:block;
}

footer {
    text-align: center;
}


#JHP {
    text-align: left;
}

#Profile-Photo {
/* Round the photo */
    justify-content: left;
    max-width: 15%;
    max-height: 15%;
    border-radius: 5%;
}

.deployed-app {
    display: inline;
}

/* media query stays at bottom */
@media screen and (max-width:1440px) and (min-width:769px) {
    * {
        background-color: salmon;
        color: darkblue
    }
}

@media screen and (max-width:768px) {
   * {
        background-color: grey;
        color: black;
    }
}

@media screen and (max-width:320px) {
    * {
        background-color: black;
        color:white;
    }
}